<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UCLAx Data Science Week 7 - D3.js: Tristian Azuara</title>
  <meta name="author" content="Tristian Azuara">
  <meta name="description" content="A Sample D3 visualization project">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style> {% include 'css/material.min.css' %}</style>
  <style> {% include 'css/plots.css' %}</style>
</head>
<body>
  <script language="javascript" defer>{% include 'js/d3.min.js' %}</script>
  <script language="javascript" defer>document.addEventListener('DOMContentLoaded', () => { {% include 'js/index.js' %} })</script>
  <div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col"></div>
	<div class="mdl-cell mdl-cell--8-col">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col chart-column">
				<div id="price-chart" class="mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand">
						<svg class="chart" width="500" height="400"></svg>
					</div>
					<div class="mdl-card__actions">
						<span class="demo-card-image__filename">Prices</span>
					</div>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col chart-column">
				<div id="averages-chart" class="mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand chart">
						<svg class="chart" width="500" height="400"></svg>
					</div>
					<div class="mdl-card__actions">
						<span class="demo-card-image__filename">Averages</span>
					</div>
				</div>
			</div>
		</div>
		<div>
			<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
				<thead>
				<tr>
					<th>Date</th>
					<th>Open</th>
					<th>High</th>
					<th>Low</th>
					<th>Close</th>
					<th>Adjusted Close</th>
					<th>Volume</th>
				</tr>
				</thead>
				<tbody>
				{% for entry in entries %}
				<tr>
					<td>{{entry.date}}</td>
					<td>{{entry.open}}</td>
					<td>{{entry.high}}</td>
					<td>{{entry.low}}</td>
					<td>{{entry.close}}</td>
					<td>{{entry.adjusted_close}}</td>
					<td>{{entry.volume}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--2-col"></div>
  </div>
</body>
</html>